# PROD ENV
export B2C_AUTHORITY="https://nordicsemiextprod.ciamlogin.com/"
export B2C_CLIENT_ID="7e241ef6-76de-4cc5-9f52-298222874afb"

# DEV ENV
# export B2C_AUTHORITY="https://nordicsemiextdev.ciamlogin.com/"
# export B2C_CLIENT_ID="dd47d209-3cd3-4e75-86e5-d419ea0cdd05"

# TEST USER
# export TEST_USER_EMAIL="jay.manuel+v5001NrfDev@nordicsemi.no"
# export TEST_USER_PASSWORD="Test@123"

# export TEST_USER_EMAIL="akhila.veetil@nordicsemi.no"
# export TEST_USER_PASSWORD="Test@123"

export TEST_USER_EMAIL="aallan.allanigue+dev@nordicsemi.no"
export TEST_USER_PASSWORD="A@11anigue"